<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ template "partials/head.html" . }}</head>
<body id="inner-wrap">
	<header id="top">{{ template "partials/header.html" . }}</header>
	<nav id="nav">
		<div class="block">
			{{ template "partials/menu.html" .Site.Menus.main }}
			<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
		</div>
	</nav>
	<main>
		<section>
			{{ range .Data.Pages.ByWeight }}
				{{ if or (.Params.showsummary) (not (.Params.ischildpage))}}
					{{ .Scratch.Add "pagetype" "list" }}
					{{ template "partials/article.html" . }}
				{{ end }}
			{{ end }}
		</section>
	</main>
	<footer>{{ template "partials/footer.html" . }}</footer>
	{{ template "partials/foot.html" . }}
</body>
</html>
