<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ template "partials/head.html" . }}</head>
<body id="inner-wrap">
	<header id="top">{{ template "partials/header.html" . }}</header>
	<nav id="nav">
		{{ template "partials/menu.html" .Site.Menus.main }}
		<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
	</nav>
	<main>
		<section>
			{{ .Scratch.Add "pagetype" "single" }}
			{{ template "partials/article.html" . }}
		</section>
	</main>
	<footer>{{ template "partials/footer.html" . }}</footer>
	{{ template "partials/foot.html" . }}
</body>
</html>
