<article>
	<header><h1>{{ .Title }}</h1></header>
	<main>
    {{ if isset .Params "image" }}
		<figure class="boxed-img" style="float:right;max-width:40%;">
			<img src="/mediaarchive/{{ .Params.image }}" style="width:auto;height:auto;max-width:100%;">
            {{ if isset .Params "imagecaption" }} <figcaption> {{ .Params.imagecaption }} </figcaption> {{ end }}
		</figure>
	{{ end }}
	{{ if isset .Params "video" }}
		<video poster="{{ .RelPermalink }}{{ .Params.poster }}"  {{ if isset .Params "controls" }} controls {{ else }} autoplay loop muted {{ end }}>
			<source src="{{ .RelPermalink }}{{ .Params.video }}" type="video/mp4">
				Your browser does not support the video tag.
		</video>
	{{ end }}
	{{ .Content }}
    </main>
</article>
