<article
			{{ if or (isset .Params "image") (isset .Params "video") }}
				{{ if .Content }}
					class="graphic"
				{{ else }}
					class="onlygraphic"
				{{ end }}
			{{ end }}
			{{ if isset .Params "background" }}
				style="background-image: url({{ .RelPermalink }}{{ .Params.background }})"
			{{ end }}>
	<header>
		{{ if and (isset .Params "ischildpage") (eq (.Scratch.Get "pagetype") "list") }}
			<h2>{{ .Title }}</h2>
		{{ else }}
			<h1>{{ .Title }}</h1>
		{{ end }}
	</header>
	{{ if isset .Params "image" }}
		<figure>
			<img src="{{ .RelPermalink }}{{ .Params.image }}">
		</figure>
	{{ end }}
	{{ if isset .Params "video" }}
		<video controls="">
			<source src="{{ .RelPermalink }}{{ .Params.video }}" type="video/mp4">
		</video>
	{{ end }}
	<main>
		{{ if and (isset .Params "ischildpage") (eq (.Scratch.Get "pagetype") "list") }}
			{{ .Summary }}
			{{ if .Truncated }}
				<a href="{{ .RelPermalink }}">Read More</a>
			{{ end }}
		{{ else }}
			{{ .Content}}
		{{ end}}
		{{ if isset .Params "form" }}
			<img id="loadinggif" src="/img/ajaxLoader.gif">
			<div class="cognito">
			</div>
		{{ end }}
	</main>
	<footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
</article>
