<article{{ with .Params.image}} class="figure"{{ end }}{{ with .Params.background }} style="background-image: url(/img/{{ . }})"{{ end }}>
  {{ if not (eq .Params.showtitle "false") }}
    <header>
      <h1>{{ .Title }}</h1>
    </header>
  {{ end }}
  {{ with .Params.image}}
  <figure>
    <img src="{{.}}">
  </figure>
  {{ end }}
  <main>
    {{ if and (isset .Params "ischildpage") (eq (.Scratch.Get "pagetype") "list") }}
      {{ .Summary }}
      <a href="{{ .RelPermalink }}">Read More</a>
    {{ else }}
      {{ .Content}}
    {{ end}}
  </main>
  <footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
</article>
