<section>
	<main>
		<section>
			<h3>Navigation</h3>
			{{ partial "menu.html" .Site.Menus.main }}
		</section>
		<section>
			<h3><a href="/newspost/">News</a></h3>
			{{ range first 5 .Site.Sections.newspost.Pages.ByDate.Reverse }}
				<h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
			{{ end }}
		</section>
		<section>
			<h3><a href="/about/about/">Contact</a></h3>
			<h5>Address</h5>
			<p>S:t Larsgatan 5</p>
			<p>753 11 Uppsala Sweden</p>
			<h5>Phone</h5>
			<p>+46 18 474 99 90</p>
			<h5>Email</h5>
			<p><a href="mailto:info@imint.se">info@imint.se</a></p>
		</section>
	</main>
</section>
<div class="clear"></div>
