<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ template "partials/head.html" . }}</head>
<body>
	{{ $.Scratch.Get "pagetype" }}
	<header>{{ template "partials/header.html" . }}</header>
	<nav>{{ template "partials/menu.html" .Site.Menus.main }}</nav>
	<main>
		<section>
			<article class="entrypoints">
				<figure>
					<a href="http://www.imint.se">
						<img src="/start/defenceVer2.png">
					</a>
				</figure>
				<figure>
					<a href="http://www.vidhancemobile.com" >
						<img src="/start/mobileVer2.png">
					</a>
				</figure>
			</article>
			{{ range .Site.Sections.start.Pages.ByWeight }}
			{{ .Scratch.Add "pagetype" "index" }}
			{{ template "partials/article.html" . }}
			{{ end }}
		</section>
	</main>
	<main class="nav, hide">
		<section>
			<article>
				<nav class="footernav">{{template "partials/menu.html" .Site.Menus.footer }}</nav>
				<nav class="footernav">{{template "partials/menu.html" .Site.Menus.footer }}</nav>
				<nav class="footernav">{{template "partials/menu.html" .Site.Menus.footer }}</nav>
			</article>
		</section>
	</main>
	<footer>{{ template "partials/footer.html" . }}</footer>
	{{ template "partials/foot.html" . }}
</body>
</html>
