<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			{{ range first 1 .Data.Pages.ByWeight }}
				{{ partial "article.html" . }}
			{{ end }}
			{{ range where .Data.Pages.ByWeight "Type" "position"}}
					{{ .Render "summary" }}
			{{ end }}
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
