<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body id="inner-wrap">
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			{{ range first 5 .Data.Pages.ByDate.Reverse }}
				{{ .Render "summary" }}
			{{ end }}
		</section>
		<center style="margin-bottom:1em;"><a style="font-weight:bold;"href="/newsarchive/archive">News archive</a><center>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
